<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="time" [(ngModel)]="activity.time" placeholder="Horário"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activity.description" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activity.location" placeholder="Localização"></ion-input>
    </ion-item>    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveActivity()" expand="block">
      Salvar atividade
    </ion-button>
  </ion-toolbar>
</ion-footer>