<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/../assets/img/recepcao.jpg" />
    <ion-card-header>
      <ion-card-title>Recepção</ion-card-title>
    </ion-card-header>
      <ion-card-content>
      Para falar com nossa recepção, disque 9 do telefone de seu quarto ou, se preferir, ligue 2118-1400.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <img src="/../assets/img/terras.jpg" />
      <ion-card-header>
        <ion-card-title>Eventos</ion-card-title>
      </ion-card-header>
        <ion-card-content>
          Para dúvidas referentes a eventos, entrar em contato nos ramais 6190, 6191 ou 7980.
        </ion-card-content>
    </ion-card>







</ion-content>