<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Novotel Itu Golf & Resort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card *ngFor="let card of cards">
    <img src="{{card.image}}" />
    <ion-item>
      <ion-label>
        <ion-text text-wrap color="primary">
          <h2>{{card.title}}</h2>
        </ion-text>
      </ion-label>
      <ion-badge slot="end" color="warning">{{card.date}}</ion-badge>
    </ion-item>
    <ion-card-content padding>
      <ion-text text-wrap>
        <p>{{card.description}}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>