<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Novotel Itu Golf & Resort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <ion-card>
    <img src="/../assets/img/piscina.jpg" />
    <ion-card-header>
      <ion-card-title>Bem vindo ao Novotel Itu Golf & Resort</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aqui você pode conhecer um pouco mais sobre o Hotel, atividades e serviços oferecidos.
    </ion-card-content>
  </ion-card>


</ion-content>