<ion-header>
  <ion-toolbar>
    <ion-title>Novotel Itu Golf & Resort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        
        <ion-card-header>          
          <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/176/176023909.jpg"/>
          <ion-card-title>Bem vindo ao Novotel Itu Golf & Resort</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Aqui você pode conhecer nossas atividades do dia!          
        </ion-card-content>
      </ion-card>     
      
      
      <ion-card>
          <ion-card-header>Internet Novotel</ion-card-header>        
          <ion-item>
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Usuário: Novotel</ion-label>
            <ion-label>Senha: Visitante</ion-label>
          </ion-item>
      </ion-card>

  

  




</ion-content>
