<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-button routerLink="/atividades" expand="block"><ion-icon slot="start" name="list"></ion-icon>Listar Atividades</ion-button>
          <ion-button routerLink="/details" expand="block"><ion-icon slot="start" name="add"></ion-icon>Incluir Atividade</ion-button>
          
        </ion-col>
      </ion-row>




    </ion-grid>
  </ion-toolbar>

  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="logout()" color="danger" expand="block">
        Sair
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>