<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Atividades do Dia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="!activities.length">
    <ion-item *ngFor="let item of [0, 1, 2, 3, 4, 5, 6]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let activity of activities">
      <ion-item mode="ios">

        <ion-label text-wrap *ngIf="activity.location">
          <ion-text color="primary">
            <h2>{{ activity.description }}</h2>
          </ion-text>

          <p>
            <ion-text color="tertiary">
              <h3>{{ activity.location }}</h3>
            </ion-text>
          </p>

        </ion-label>

        <ion-note color="primary" slot="end">
          <p>
            <ion-chip color="primary">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>{{ activity.date | date: 'dd/MM/yyyy' }}</ion-label>
            </ion-chip>
          </p>
          <ion-chip color="danger">
            <ion-icon name="alarm"></ion-icon>
            <ion-label>{{ activity.time }}</ion-label>
          </ion-chip>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteActivity(activity.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>

</ion-footer>